
@font-face {
  font-family: 'SF-Pro-Display-Light';
  src: url('../fonts/SF-Pro-Display-Light.otf') format('opentype');
}

@font-face {
  font-family: 'SF-Pro-Text-Light';
  src: url('../fonts/SF-Pro-Text-Light.otf') format('opentype');
}

@font-face {
  font-family: 'SF-Pro-Text-Regular';
  src: url('../fonts/SF-Pro-Text-Regular.otf') format('opentype');
}

body { font-family:'SF-Pro-Text-Light';}
.display-light { font-family: 'SF-Pro-Display-Light'; }
.text-regular { font-family: 'SF-Pro-Text-Regular';}
.text-light { font-family: 'SF-Pro-Text-Light';}

.floral-list {/* Eyebrows Threading: */
font-family: 'SF-Pro-Display-Light';
font-size: 32px;
color: #FF3B30;
}
.text-primary {
color: #FF3B30;
 }
 .opacity-10 { opacity:0.1;}
 .bg-primary { background:#FF3B30;}
 .banner { height:400px}
 .services { height: 460px;}
 .services img { transition:.2s ease-in-out; }
 .services img:hover {transform:scale(1.05); }

 .has-dropdown { position: relative; cursor: pointer; z-index:50;;}
 .has-dropdown ul { opacity:0; transform:translateY(50px); transition:.2s ease-in-out; height:0; overflow: hidden;}
 .has-dropdown:hover  ul { opacity:1; transform:translateY(0); height: auto;}

 .bg-about { background: #f8f9fb url(../img/bg-about.jpg) no-repeat right top;
  background-size: auto 600px; min-height:600px;}

 @media screen and (max-width:767px) {
   .container { padding-left:16px; padding-right:16px;}
  .banner { height:auto}
  .floral-list { list-style: none; }
  .services { height: auto;}
  .bg-about  { min-height: auto; background: none;}
 }
